---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

@import "so-simple";



@font-face {
    font-family: X;
    src: url(fonts/NotoSerifSC-Black.otf), url(fonts/NotoSerifSC-Bold.otf), url(fonts/NotoSerifSC-ExtraLight.otf), url(fonts/NotoSerifSC-Light.otf), url(fonts/NotoSerifSC-Medium.otf), url(fonts/NotoSerifSC-Regular.otf), url(fonts/NotoSerifSC-SemiBold.otf);
}

body {
    font-family: "X";
    font-size: 40px;
}